{% extends 'base.html.twig' %}

{% block title %}
    {{ parent() }} - {{ 'profile.reponses.title'|trans() }}
{% endblock %}

{% block body %}
    <h2 class="mb-5">{{ 'profile.reponses.title'|trans }}</h2>

    <ul class="list-group">
        {% for question, donnees in votes %}
            <li class="list-group-item my-3">
                <div class="d-flex justify-content-between flex-wrap-reverse mb-2">
                    <h5><a href="{{ path('sondage_show', {'id': donnees.0.vote.sondage.id}) }}">{{ question }}</a></h5>
                    <span>{{ 'author'|trans }} :
                    {% if donnees.0.vote.sondage.createur is not null %}
                        <a href="{{ path('user_peek', {id: donnees.0.vote.sondage.createur.id}) }}">{{ donnees.0.vote.sondage.createur.username }}</a>
                    {% else %}
                        <em>{{ 'anonymous'|trans|lower }}</em>
                    {% endif %}
                </span>
                </div>
                <ul class="list-group">
                    {% for el in donnees %}
                        <li class="list-group-item d-flex flex-wrap justify-content-between reponse selected" id="reponse-{{ el.vote.reponse.id }}">
                            <em data-id="{{ el.vote.reponse.id }}">{{ el.reponse }}</em>
                            <small>({{ el.vote.date|date('d/m/Y') }})</small>
                        </li>
                    {% endfor %}
                </ul>
            </li>
        {% endfor %}
    </ul>

    <a href="{{ path('user_sondages') }}"><button class="btn btn-secondary my-3">{{ 'profile.sondages.title'|trans }}</button></a>
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    {{ encore_entry_script_tags('color-reponses') }}
{% endblock %}