{% extends 'base.html.twig' %}

{% block title %}
    {{ parent() }} - {{ 'profile.sondages.title'|trans() }}
{% endblock %}

{% block body %}
    <h2>{{ 'profile.sondages.title'|trans }}</h2>


    <section class="d-flex align-items-center justify-content-center flex-wrap my-5">
        {% for sondage in sondages %}
            {{ include('sondage/_sondage.html.twig') }}
        {% else %}
            <p>{{ 'no_sondage'|trans}} <a href="{{ path('sondage_new') }}">{{ 'sondage_new.polite'|trans }}</a></p>
        {% endfor %}
    </section>
{% endblock %}