{% extends 'base.html.twig' %}

{% block title %}{{ parent() }} - {{ 'signin'|trans }}{% endblock %}

{% block body %}
        <form method="post">
            {% if error %}
                <div class="alert alert-danger">{{ error.messageKey|trans(error.messageData, 'security') }}</div>
            {% endif %}

            {% if app.user %}
                <div class="mb-3">
                    {{ 'connect_welcome'|trans({'username': app.user.username}) }}, <a href="{{ path('app_logout') }}">{{ 'logout'|trans}}</a>
                </div>
            {% endif %}

            <h2 class="h3 mb-3 font-weight-normal">{{ 'signin_verbose'|trans() }}</h2>
            <label for="inputUsername">{{ 'username'|trans() }} : </label>
            <input type="text" value="{{ last_username }}" name="username" id="inputUsername" class="form-control" required autofocus>
            <label for="inputPassword">{{ 'password'|trans() }} :</label>
            <input type="password" name="password" id="inputPassword" class="form-control" required>

            <input type="hidden" name="_csrf_token"
                   value="{{ csrf_token('authenticate') }}"
            >

            <div class="controls">
                <a href="{{ path("app_register") }}"><button class="btn btn-secondary" type="button">{{ 'register'|trans }}</button></a>
                <button class="btn btn-primary" type="submit">
                    {{ 'signin'|trans() }}
                </button>
            </div>
        </form>
{% endblock %}
