{% extends 'base.html.twig' %}

{% block title %}{{ parent() }} - {{ 'register'|trans }}{% endblock %}

{% block body %}
    {% for flashError in app.flashes('verify_email_error') %}
        <div class="alert alert-danger" role="alert">{{ flashError }}</div>
    {% endfor %}

    <h2>{{ 'register.main'|trans }}</h2>

    <div class="my-3">
        {{ form_start(registrationForm) }}
        {{ form_rest(registrationForm) }}
        <button type="submit" class="btn btn-primary">{{ 'register'|trans }}</button>
        {{ form_end(registrationForm) }}
    </div>
{% endblock %}
