{% extends 'base.html.twig' %}

{% block title %}
    {{ parent() }} - Accueil
{% endblock %}

{% block body %}
    <main class="d-flex flex-column align-items-center">
        <h2>Créez facilement des sondages en ligne !</h2>
        <h3 class="text-muted">Si vous le voulez bien.</h3>

        <img src="{{ asset('build/images/background.png') }}" alt="sondages à gogo" class="mw-100 my-5">

        <div class="controls">
        <a href="{{ path('sondage_index') }}"><button class="btn btn-secondary btn-lg">{{ 'sondage_all.title'|trans() }}</button></a>
        <a href="{{ path('sondage_new') }}"><button class="btn btn-primary btn-lg">{{ 'new_sondage'|trans() }}</button></a>
        </div>
    </main>
{% endblock %}
