{{ form_start(form) }}
    {{ form_row(form.question) }}

<ul data-reponse-number="{{ form.reponses|length }}" data-prototype="{{ form_row(form.reponses.vars.prototype)|e('html_attr') }}" id="reponses-list">
    {% for i, reponse in form.reponses %}
        {% for input in reponse.children %}
            {{ form_row(input, {'label': 'Réponse '~(i+1)~' :'}) }}
        {% endfor %}
    {% endfor %}
</ul>

{{ form_rest(form) }}

    {% if is_granted('ROLE_USER') %}
        <input type="number" hidden value="{{ app.user.id }}" name="createur">
        {# TODO : sauvegarder les sondages en brouillon
        <button class="btn btn-secondary" type="button">{{ 'save'|trans }}</button>
        #}
        <button class="btn btn-primary" type="submit">{{ 'create'|trans }}</button>
    {% else %}
        <a href="{{ path('app_login') }}"><button type="button" class="btn btn-primary">{{ 'signin'|trans }}</button></a>
        <button class="btn btn-secondary" type="submit">{{ 'create_anonymous'|trans }}</button>
    {% endif %}
{{ form_end(form) }}