{% extends 'sondage/_sondage.html.twig' %}

{% block detailClass %}
{% endblock %}

{% block reponses %}
    <h5 class="my-3">{{ 'reponses.label'|trans }} :</h5>
    {% if sondage.reponses|length > 0 %}
        <ul class="list-group my-3">
            {% for index,reponse in sondage.reponses %}
                <li class="list-group-item reponse pl-5" id="reponse-{{ index }}"><span data-id="{{ reponse.id }}">{{ reponse.texte }} ({{ reponse.votes|length }})</span></li>
            {% endfor %}
        </ul>
    {% else %}
        <b>{{ 'reponses.none'|trans }}</b>
    {% endif %}
{% endblock %}

{% block votes %}
    <div class="custom-control custom-switch">
        <input type="checkbox" class="custom-control-input" id="display-switch">
        <label class="custom-control-label" for="display-switch">{{ 'affichage'|trans }}</label>
    </div>

    <canvas id="chart" class="w-100 d-none" class="display"
            data-total="{{ sondage.reponses|length }}"
            {% for index, reponse in sondage.reponses %}
                data-id{{ index }}="{{ reponse.id }}"
                data-reponse{{ index }}="{{ reponse.texte }}"
                data-vote{{ index }}="{{ reponse.votes|length }}"
            {% endfor %}
    ></canvas>


    <div class="progress col-md-10 col-12 mx-auto my-5" id="progress-bar">
        {% for res in votes %}
            <div title="{{ res.voteNb }}" id="barre-{{ res.reponse.id }}" class="progress-bar" style="width:{{ res.voteNb / sondage.votes|length * 100 }}%" role="progressbar" aria-valuenow="{{ res.voteNb }}" aria-valuemin="0" aria-valuemax="{{ sondage.votes|length }}">({{ res.voteNb }}) {{ res.reponse.texte}}</div>
        {% endfor %}
    </div>

{% endblock %}

{% block sondageFooter %}
    <a href="{{ path('sondage_index') }}"><button class="btn btn-secondary">{{ 'sondage_all.title'|trans }}</button></a>
    <a href="{{ path('sondage_vote', {'id': sondage.id}) }}"><button class="btn btn-primary">{{ 'sondage_vote'|trans }}</button></a>
    {% if is_granted("ROLE_USER") and sondage.createur is not null and app.user.id is same as(sondage.createur.id) %}
        {# option effacer pour le propriétaire du sondage #}
        {{ include('sondage/_delete_form.html.twig') }}
    {% endif %}
{% endblock %}