<div class="card m-3 {% block detailClass %}card-small{% endblock %}" id="sondage-{{ sondage.id }}">
    <div class="card-body">
        <h5>
            <a href="{{ path('sondage_show', {id: sondage.id}) }}" class="card-title">{{ sondage.question }}</a>
        </h5>
        <div class="card-subtitle text-muted d-flex flex-wrap justify-content-between">
            <button class="btn btn-sm rounded-pill btn-outline-secondary copy-link" data-toggle="tooltip" data-placement="auto" data-link="sondage-{{ sondage.id }}-url" role="button" title="{{ 'copy.verbose'|trans }}" data-verbose="{{ 'copy.verbose'|trans }}" data-done="{{ 'copy.done'|trans }}">{{ 'copy.label'|trans }}</button>
            <input type="text" value="{{ url('sondage_show', {'id': sondage.id}) }}" id="sondage-{{ sondage.id }}-url" class="out-of-view" aria-hidden="true">
            <p class="my-0 mr-2">{{ 'date_creation'|trans }} : {{ sondage.dateCreation | date('d/m/y') }}</p>
            <p>{{ 'author'|trans }} :
                {% if sondage.createur is not null %}
                    <a href="{{ path('user_peek', {id: sondage.createur.id}) }}">{{ sondage.createur.username }}</a>
                {% else %}
                    <em>{{ 'anonymous'|trans|lower }}</em>
                {% endif %}
            </p>
        </div>
        <div class="card-text">
            {% block reponses %}{% endblock %}

            {% if sondage.multiple %}
                <p class="font-weight-bold">{{ 'multiple_vote'|trans }}</p>
            {% endif %}
            {% block voteTotal %}
            <p>{{ 'vote_label'|trans~'vote'|trans({'number': sondage.votes|length}) }}</p>
            {% endblock %}

            {% block votes %}{% endblock %}
        </div>


        <div class="card-footer controls">
        {% block sondageFooter %}
            <a href="{{ path('sondage_show', {id: sondage.id}) }}"><button class="btn btn-primary">{{ 'look'|trans }}</button></a>
        {% endblock %}
        </div>
    </div>
</div>