{% extends 'sondage/_sondage.html.twig' %}

{% block detailClass %}
{% endblock %}

{% block reponses %}
    {% if sondage.reponses|length > 0 %}
        <h5 class="my-3">{{ 'sondage_vote.label'|trans }}</h5>
        {{ form_start(myForm) }}
        {% for index, reponse in myForm.votes %}
            <div class="list-group-item reponse pb-0 pl-0 hoverable" id="reponse-{{ index }}">
                {{ form_row(reponse) }}
            </div>
        {% endfor %}
        {{ form_end(myForm) }}
    {% else %}
        <b>{{ 'reponses.none'|trans }}</b>
    {% endif %}
{% endblock %}

{% block voteTotal %}{% endblock %}

{% block sondageFooter %}
    <a href="{{ path('sondage_show', {'id': sondage.id}) }}"><button class="btn btn-secondary">{{ 'look'|trans }}</button></a>
    <button class="btn btn-primary" type="submit" form="vote-form">{{ 'confirm'|trans }}</button>
{% endblock %}