{% extends 'base.html.twig' %}

{% block title %}{{ parent() }} - {{ 'sondage_all.title'|trans }}{% endblock %}


{% block body %}
    <h2>Tous nos <small class="text-muted">(incroyables)</small> sondages,<br>créés par nos <small class="text-muted">(incroyables)</small> utilisateurs</h2>
    <a href="{{ path('sondage_new') }}" class="btn btn-secondary"><small>{{ 'sondage_new.button'|trans }}</small></a>

    <section class="d-flex align-items-center justify-content-center flex-wrap my-5">
        {% for sondage in sondages %}
            {{ include('sondage/_sondage.html.twig') }}
        {% else %}
            <p>{{ 'no_sondage'|trans}} <a href="{{ path('sondage_new') }}">{{ 'sondage_new.polite'|trans }}</a></p>
        {% endfor %}
    </section>

    <a href="{{ path('sondage_new') }}" class="btn btn-secondary">{{ 'sondage_new.button'|trans }}</a>
{% endblock %}
