{% extends 'base.html.twig' %}

{% block title %}
    {{ parent() }} - {{ 'sondage_new.title'|trans() }}
{% endblock %}

{% block body %}
    <h2>{{ 'sondage_new.button'|trans }}</h2>
    <h3 class="text-muted mb-5">{{ 'sondage_new.sub'|trans }}</h3>
    {{ include('sondage/_form.html.twig') }}
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    {{ encore_entry_script_tags('sondage-new') }}
{% endblock %}