{% extends 'base.html.twig' %}

{% block title %}{{ parent() }} - {{ 'sondage_show.title'|trans({'id': sondage.id}) }}{% endblock %}

{% block body %}
    <h2>{{ 'sondage_show.main'|trans }}</h2>
    <h3 class="text-muted mb-5">{{ 'sondage_show.sub'|trans }}</h3>
    {{ include('sondage/_sondage_show.html.twig') }}

    {# TODO : sauvegarder les brouillons de sondage
    <a href="{{ path('sondage_edit', {'id': sondage.id}) }}">edit</a>
    #}

{% endblock %}

{% block javascripts %}
    {{ parent() }}
    {{ encore_entry_script_tags('color-reponses') }}
    {{ encore_entry_script_tags('vote-graph') }}
{% endblock %}