{% extends 'base.html.twig' %}

{% block title %}{{ parent() }} - {{ 'sondage_vote.title'|trans({'id': sondage.id}) }}{% endblock %}

{% block body %}
    <h2>{{ 'sondage_vote.main'|trans }}</h2>
    <h3 class="text-muted">{{ 'sondage_vote.sub'|trans }}</h3>
    {% if hasVoted %}
        <div class="alert alert-warning my-5">
            <h5>{{ 'warning'|trans }}</h5>
            <p>{{ 'already_voted'|trans({'username': app.user.username}) }}</p>
        </div>
        <a href="{{ path('sondage_show', {'id': sondage.id}) }}"><button class="btn btn-primary">{{ 'look'|trans }}</button></a>
    {% else %}
        {{ include('sondage/_sondage_vote.html.twig') }}
    {% endif %}
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    {{ encore_entry_script_tags('color-reponses') }}
{% endblock %}