{% extends 'base.html.twig' %}

{% block title %}{{ parent() }} - {{ 'sondage_search.title'|trans }}{% endblock %}


{% block body %}
    <h2>{{ 'sondage_search.title'|trans }} "{{ query }}"</h2>

    <section class="d-flex align-items-center justify-content-center flex-wrap my-5">
        {% for sondage in sondages %}
            {{ include('sondage/_sondage.html.twig') }}
        {% else %}
            <p>{{ 'sondage_search.no_result'|trans}} <a href="{{ path('sondage_new') }}">{{ 'sondage_new.polite'|trans }}</a></p>
        {% endfor %}
    </section>

    <a href="{{ path('sondage_new') }}" class="btn btn-secondary">{{ 'sondage_new.button'|trans }}</a>
{% endblock %}
