@import "~reset-css/sass/_reset.scss";
@import "~bootstrap/scss/bootstrap.scss";
@import "./card.scss";

body {
	background-image: linear-gradient(to bottom right, white, Gainsboro);
}

main {
	position: relative;
}

.navbar-brand {
	font-weight: bold;
	font-size: 2rem;
}

.navbar-brand img {
	height: 2em;
	transform: translate(-20%);
}

.nav-link {
	transition: 0.5s;
	border-bottom: 3px solid transparent;
	margin: 1px;
}
.nav-link.active {
	font-weight: bold;
}
.nav-link.active,
.nav-link:hover,
.nav-link:focus {
	border-bottom-color: currentColor;
	transition: border-bottom-color 1s;
}
.navbar-nav .btn {
	margin-top: -0.5rem;
}

h2 {
	margin-top: 2rem;
}

h2, h3 {
	text-align: center;
}

$breadcrumb-divider: quote(">");

#breadcrumb-nav {
	align-self: start;

	.breadcrumb {
		flex-direction: column;
	}

	@include media-breakpoint-up(lg) {
		position: absolute;
		left: 1rem;
		top: 0;
	}
}

em {
	font-style: italic;
}

// sondages
.list-group-item:first-of-type {
	border-top-left-radius: 15px !important;
	border-top-right-radius: 15px !important;
}
.list-group-item:last-of-type {
	border-bottom-left-radius: 15px !important;
	border-bottom-right-radius: 15px !important;
}