.card-small {
  width: 300px;
}

.out-of-view {
  position: relative;
  transform: translate(-5000px);
}
.progress {
  height: 3rem;
  padding: 0;
}
.progress-bar {
  text-overflow: ellipsis;
  font-size: initial;
  font-family: serif;
}

.hoverable {
  transition: 0.5s ease-out;

  &:hover, &:focus {
    @extend .bg-dark, .text-light;
    transition: 0.5s ease-out;
  }

  &:hover, & > *:hover {
    cursor: pointer;
  }
}

.form-check-label {
  margin-left: 1rem;
}

.selected em::before {
  content: "✔️ ";
  display: inline;
}

.form-check-input {
  margin-left: -1rem;
}

.controls {
  margin-top: 0.5rem;
  margin-bottom: -1rem;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0;

  & > * {
    margin: 1rem;
  }
}