<!DOCTYPE html>
<html lang="fr">
<head>
	<meta charset="UTF-8">
	<title>
		{% block title %}StroPoli{% endblock %}
	</title>
	{% block stylesheets %}
		{{ encore_entry_link_tags('app') }}
	{% endblock %}

	<link rel="icon" type="image/png" sizes="16x16" href="{{ asset('build/images/favicon.ico') }}">
</head>
<body class="min-vh-100">
<header>
	<nav class="navbar navbar-expand-lg navbar-dark bg-dark sticky-top">
		<a href="{{ path('main') }}" class="navbar-brand">StroPoli<img src="{{ asset('build/images/tophat_with_pages.svg') }}" alt="logo stropoli"></a>
		<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbar" aria-controls="navbar" aria-expanded="false" aria-label="Toggle navigation">
			<span class="navbar-toggler-icon"></span>
		</button>
		<div class="navbar-collapse collapse justify-content-between" id="navbar">
			<ul class="navbar-nav align-items-center">
				<li class="nav-item"><a href="{{ path('sondage_index') }}" class="nav-link">{{ 'sondage_all'|trans }}</a></li>
				<li class="nav-item"><a href="{{ path('sondage_new') }}" class="nav-link">{{ 'new_sondage'|trans }}</a></li>
			{% if is_granted('ROLE_USER') %}
				<li class="nav-item"><a href="{{ path('user_sondages') }}" class="nav-link">{{ 'profile.sondages.title'|trans }}</a></li>
				<li class="nav-item"><a href="{{ path('user_votes') }}" class="nav-link">{{ 'profile.reponses.title'|trans }}</a></li>
				<li class="nav-item"><a href="{{ path('app_logout') }}" class="nav-link"><button class="btn btn-outline-light">
					{{ 'logout'|trans }}</button></a></li>
			{% else %}
				<li class="nav-item"><a href="{{ path('app_login') }}" class="nav-link"><button class="btn btn-outline-light">
					{{ 'signin'|trans }}</button></a></li>
				<li class="nav-item"><a href="{{ path('app_register') }}" class="nav-link"><button class="btn btn-outline-light">
					{{ 'register'|trans }}</button></a></li>
			{% endif %}
			</ul>
			<form action="{{ path('search') }}" class="form-inline justify-content-center" method="get">
				<input type="search" placeholder="{{ 'sondage_search.placeholder'|trans }}" aria-label="{{ 'sondage_search.placeholder'|trans }}" class="form-control" name="query">
				<button type="submit" class="btn btn-outline-light m-2">{{ 'sondage_search.placeholder'|trans }}</button>
			</form>
		</div>
	</nav>
</header>
<main class="d-flex flex-column flex-wrap justify-content-center align-items-center">
	<nav aria-label="breadcrumb" id="breadcrumb-nav">
		{{ wo_render_breadcrumbs() }}
	</nav>
{% block body %}{% endblock %}
</main>
{% block javascripts %}
	{{ encore_entry_script_tags('app') }}
{% endblock %}
</body>
</html>
